#list, #main {
	display: none;
}
.visitors {
  margin-top: 10px;
}
th, td {
	text-align: left;
	padding: 5px;
}
textarea, table, input[type='text'], input[type='button'] {
	width: 100%;
}
img {
	max-height: 100px;
}
.green {
	color: green;
}
.red {
	color: red;
}
.gray {
	color: gray;
}
.highlight {
	position: absolute;
	background-color: pink;
	z-index: -1;
	display: none;
}
.tag_name {
	background-color: #D2DFF6;
	border:#bdc7d8 1px solid;
	padding: 2px;
}
.label_style {
	font-size: 14px;
	font-weight: bold;
}

/* 手機瀏覽 不顯示時間日期 */
@media (max-width: 767px) {
    .timebox {
        display: none;
    }
}
